:root {
  --background: white;
  --text: black;
  --social-button: #333;
  --shadow: rgba(0, 0, 0, 0.4);
  background-color: var(--background);
  color: var(--text);
  transition: 0.3s background-color color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --text: white;
    --social-button: #ccc;
    --shadow: rgba(255, 255, 255, 0.4);
  }
}
